p{
    background: lightgreen;
    border: 1px solid black;
    padding: 20px;
}
span{
    background: yellow;
    border: 1px solid black;
    padding: 20px;
    margin: 0;
    display: inline-block;
}
.first{
    margin-bottom: 0;
}
.second{
    margin-top: 0;
}
.margin{
    margin-left: 0;
}