.wrapper{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
}

.parent{
    border: 1px;
}
.box{
    width: 60px;
    height: 50px;
    padding: 10px;
}
.relative{
    background: lightblue;
    position: relative;
    top: 10px;
    right: 30px;
}
.absolute{
    background: pink;
    position: absolute;
    right: 25%;
    bottom: 5%;
}
.fixed{
    background: lightgreen;
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;

}
.sticky{
    background: lightgray;
    position: sticky;
    top: 10px;
}