html{
    background: gray;
}
body{
    background: white;
    height: 400px;
}
.block1{
    display: none;
    background: pink;
}
.block2{
    display: none;
    background: red;
    margin: -60px 0 0 20px;
}
.float{
    display: none;
    background: lightblue;
    float: left;
    margin: -150px 0 0 100px;
}
.inline{
    display: none;
    background: blue;
    color: white;
    padding: 10px 40px 10px 10px;
}
.poistion{
    display: none;
    background: orange;
    position: relative;
    left: 180px;
    top: -165px;
    height: 110px;
}